

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Varsayılan tema (açık tema) */
body {
    background-color: white;
    color: black;
  }
  
  /* Karanlık tema */
  html.dark body {
    background-color: #1f2a38; /* Karanlık tema arka planı */
    color: white; /* Karanlık tema metni */
  }
  